<h1>Coupon Details</h1>

<section>
  ID: <%= @coupon.id %>
  Name: <%= @coupon.name %>
  Code: <%= @coupon.code %>
  Percent Off: <%= @coupon.percent_off %>
  Status : <%= @coupon.coupon_status %>
</section>
